@media (max-width:768px)
{
    #home-section h1{
        font-size: 36px;
    }
}




@media (max-width:480px){
    #home-section{
        min-height: 200px;
    }
    #home-section .dark-overly{
    min-height: 200px;
}
}